:root {
    --white: #E0FBFC;
    --blue: #22577A;
    --dark-blue: #050f52;
    --dark-blue: #000941;
    --red: #FF5151;
    --gray: #929292;
}

.Chart {
    width: 49.999999999999999%;
    display: inline-block;
}

.Chart-chart {
    
    height: 441px;
    text-align: center;
    background-color: var(--dark-blue);
    color: #E0FBFC;
    
    position: relative;
    bottom: 778.3px;

    border-right: 1px solid var(--gray);
    border-bottom: 1px solid var(--gray);
}